body {
	background-color: black;
}

.header h2 {
	color: white;
}

.header p {
	color: #50524F;
}

.results {
	margin-top: 20px;
}
.body h2 {
	color:black
}

.body h3 {
	color:blue
}

.body movies-container{
	display: flex;
}
